* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border: solid 1px silver;
}

html, body {
    height: 100%;
    width: 100%;
}

.section {
    width: 100%;
    height: 100%; 
}

// .rouge-script-regular {
//     font-family: "Rouge Script", cursive;
//     font-weight: 400;
//     font-style: normal;
// }
  
.opening {
    display: none;
    position: relative;
    // display: grid;
    grid-template-columns: 1fr 1fr;
    // div {
    //     font-size: 50px;
    // }

    .delius {  
        font-family: "Delius", cursive;
        font-weight: 700;
        font-style: normal;
        font-size: 5rem;
    }

    .left-opening {
        // border: 1px solid #444;
        display: flex;
        justify-content: flex-end;
        .hey-and-i {
            position: absolute;
            top: 10rem;
            padding: 2rem;
            .hey {
                padding-right: 3rem;
            }
            .i {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    
    .right-opening {
        // border: 1px solid red;
        .am-architect {
            position: absolute;
            top: 16rem;
            padding: 2.4rem 1rem;
            .architect {
                padding-left: 3rem;
            }
        }
    }
    
    .name {
        position: absolute;
        top: 60%;
        // left: 38%;
        // left: 50%;
        display: flex;
        width: 96%;
        // height: 100%;
        justify-content: center;
        margin-left: 3.5rem;
        padding-left: 6rem;
        margin-top: -1.5rem;
        font-family: "Rouge Script", cursive;
        font-weight: 500;
        font-style: normal;
        font-size: 8rem;
    }
}

#projects-tab {
    width: 100%;
    nav {
        padding: 0 5rem 0 2.5rem;
        background-color: #eee;
        display: flex;
        height: 5rem;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5rem;
        position: fixed;
        top: 0;
        .menus {
            display: flex;
            height: 100%;
            a {
                text-decoration: none;
                color: inherit;
                padding: 2rem;
                height:100%;
                display: flex;
                align-items: center;
                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }
}